h1{
    color: purple;
    font-size:30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
p{
    color:brown;
    background-color: rgb(4, 1, 1);
    font-weight:bold;
    font-size:20px;
    font-family: 'Courier New', Courier, monospace;
}
button{
    color:rgb(8, 2, 46);
    background-color: darkgray;
}
body{
    background-color:rgb(228, 157, 171);
    
}
h2{
    color:rgb(66, 13, 66);
    background-color:#2aa5a5;
    font-size:23px;
    font-family: 'Courier New', Courier, monospace;
}

/* selectors */
*{
    color:blueviolet;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color:red;
    font-size:25px;
    
}
#a2{
    color:blue;
}
#a3{
    color:green;
}
.container{
    background-color:rgb(228, 157, 171);
    text-align: center;
}

/* practice 1 */
#box{
    background-color:rgb(29, 21, 178);
    text-align: center;
    color:azure;
    font-family: Arial, Helvetica, sans-serif;
}

.heading{
    color:red;
}
button{
    background-color: green;
}


/* text properties */
p{
    text-align: center;
    text-decoration: line-through;
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: blue wavy underline;
    text-decoration: red dotted underline;
    text-decoration: green dashed underline;
    text-decoration: purple double underline;
    text-decoration: orange solid underline;
    text-decoration: pink dashed underline;
}
a{
    text-decoration: none;
}

/* font-weight */
h1{
    font-weight:normal;
    font-weight: bold;
    font-weight: bolder;
    font-weight: lighter;
    font-weight: 100;
    font-weight: 200;
    font-weight: 700;
}

/* font-family */
h1{
    font-family: Arial, sans-serif;
}

/* units in css */
h1{
    font-size: 20px;
    font-size: 2em;
    font-size: 200%;
    font-size: 20pt;
    font-size: 20px;
    font-size: 20mm;
    font-size: 20cm;
    font-size: 20in;
    font-size: 20pc;
    font-size: 20%;
    font-size: 20vw;
    font-size: 20vh;
    font-size: 20vmin;
    font-size: 20vmax;
    font-size: 20ex;
    font-size: 20ch;
    font-size: 20rem;
    font-size: 20em
}

h1{
    font-size: 12px;
}

/* line-height */
p{
    line-height: 20px;
    line-height: normal;
}

/* text-transform */
p{
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
    text-transform: none;
}

/* practice 2 */
 h1{
    text-align:center;
    text-transform: capitalize;
}
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#outer{
    font-size:25px;
}
#inner{
    font-size:10px;
}

/* Box Model */
div{
    height:100px;
    background-color: rgb(84, 84, 134);
    width: 100px;

    border-width:4px;
    border-style: solid;
    border-color: rgb(24, 10, 10);
    border:2px solid black;
    border-radius: 18px;
    border-radius: 50%;


    text-align: center;
    line-height: 100px;
    color: white;

    padding-left:25px;
    padding-right:25px;
    padding-top:25px;
    padding-bottom:25px;
    padding:25px;
    padding:3px 2px 3px 2px;

    margin-top:25px;
    margin-left:25px;  
    margin-right:25px;
    margin-bottom:25px;
    margin:25px;
    margin:2px 3px 2px 3px;
    
}

/* practice 3 */
div{
    height: 100px;
    width: 100px;
    background-color: chartreuse;
    border-radius: 50%;
}

*{
    padding:0;
    margin:0;
    
}
#navbar{
    height:60px;
    background-color: black;
    color:white;
    
}
button{
    background-color: yellow;
}
#logo{
    color:orange;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;

    
}
a{
    margin-right:100px;
}

/* Display property */
div{
    display: inline;
    display: block;
    display: inline-block;
    display: none;
    display: flex;
    display: grid;
    display: inline-flex;
    display: inline-grid;
    display: table;
    display: table-row;
    display: table-cell;
    display: table-column;
    display: table-column-group;
    display: table-header-group;
    display: table-footer-group;
    display: table-row-group;
    display: table-caption;
    display: contents;
    display: list-item;
    display: run-in;
    display: ruby;
    display: ruby-base;
    display: ruby-text;
    display: ruby-base-container;
    display: ruby-text-container;
    display: contents;
    display: none;
}

div{
    background-color: blueviolet;
    display: inline;
}
button{
    display: block;
}

#a{
    background-color: chocolate;
    height:100px;
    width:100px;
    margin:25px;
    padding:25px;
    display: inline-block;

}
#b{
    background-color: rgba(45, 100, 100, 0.6);
    height:100px;
    width:100px;
    margin:25px;
    padding:25px;
    display: inline-block;
}
#c{
    background-color: rgb(84, 71, 40);
    height:100px;
    width:100px;
    margin:25px;
    padding:25px;
    visibility: hidden;
}

/* practice 4 */
#a{
    background-color: rgba(208, 98, 58,0.5);
    height:100px;
    width:100px;
    border:solid 2px black;
    display: inline-block;
}
#b{
    background-color: rgba(73, 51, 94,0.5);
    height:100px;
    width:100px;
    border:solid 3px blue;
    display: inline-block;
}
#c{
    background-color: rgba(152, 124, 59,0.5);
    height:100px;
    width:100px;
    border:solid 4px green;
    display: inline-block;
}

/* units in css */
#box1{
    height: 100px;
    width:200px;
    background-color: brown;
    font-size: 20px;
}
#box2{
    height: 50px;
    width:30px;
    background-color: blue;
    margin-left: 10%;
    font-size: 2em;
}

/* Positioning in CSS */
div{
    height:200px;
    width:150px;
    background-color: blueviolet;
    border:2px solid black;
    display:inline-block;
}

#a{
    position: relative;
    top: 10px;
    left: 10px;
    right:10px;
}
#b{
    position: absolute;
    top: 10px;
    left: 10px;
    right:10px;
}
#c{
    position: fixed;
    top:0px;
}
#d{
    position: sticky;
    top: 0px;
    left: 10px;
    right:10px;
}


#a{
    background-image: url("image1.jpg");
    background-size: cover;

}

#b{
    background-image: url("image2.jpg");
    background-size: cover;
}

#c{
    background-image: url("image3.jpg");
    background-size: cover;
}

#d{
    background-image: url("image4.jpg");
    background-size: cover;
}

body{
    background-image: url("image2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    line-height: 100px;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* practice 5 */
div{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    background-image: url("image3.jpg");
    background-size: cover;
    position: fixed;
    right:0px;
    top:0px;

}

/* Flex box */
#container{
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    align-items: stretch;
    align-items: flex-start;
    align-items: flex-end;
    align-items: baseline;
    align-content: stretch;
    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-between;
    align-content: space-around;
}

body{
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
}
div{
    height: 100px;
    width: 100px;
    display:inline-block;
    border:2px solid black;
    background-color: blueviolet;
}
#container{
    width:600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;

    flex-direction: row;
    justify-content: center;
    justify-content: left;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    align-items: flex-start;
    align-items: flex-end;

    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    align-items: center;
    align-content: flex-end;
    align-content: center;
    align-content: space-between;
    align-items:center;
    flex-direction: row;

    align-items: flex-start;
}
#box1{
    background-color: brown;
}
#box2{
    background-color: blue;
    height:200px;
    flex-shrink: 2;
    flex-grow: 2;
}
#box3{
    background-color: green;
    flex-grow:3;
}
#box4{
    background-color: yellow;
}
#box5{
    background-color: red;
}



/* Media */
div{
    height: 50px;
    width: 50px;
    background-color: blueviolet;
}
@media(width:600px){
    div{
        background-color: brown;
    }
}

@media(min-width:600px){
    div{
        background-color: brown;
    }
}
@media(max-width:800px){
    div{
        background-color: green;
    }
}

@media(min-width:600px) and (max-width:800px){
    div{
        background-color: yellow;
    }
}




/* Transitions */
div{
    height:100px;
    width: 100px;
    background-color: blueviolet;
    border: 2px;
    color: white;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(4, end);
    transition-timing-function: ease-in;
    transition-delay: 1s;

    transition:all 2s ease-in 1s;
    transform: rotate(350deg);
    position:absolute;
    top:50%;
    left:50%;
    transition: all 2s ease-in-out;
 
    animation: 
     duration timing-function delay iteration-count direction fill-mode;
    
    animation-name: coloranimation;
    animation-duration: 0.1s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;

}
div:hover{
    background-color: brown;
    transform: translate(100px,80px);
    transform: scaleX(2); 
}
div:active{
    background-color: green;
    transition: background-color 1s;
}

@keyframes coloranimation{
    from{background-color: blueviolet;}
    to{background-color: brown;}
} 
